{
    "arrowParens": "avoid",
    "jsxBracketSameLine": false,
    "jsxSingleQuote": true,
    "printWidth": 70,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": true,
    "endOfLine": "lf"
}